<?xml version="1.0"?>

<launch>
<!-- TODO: Should add to the gazebo launch file! -->
<!--
    <arg name="tf_prefix" default="$(optenv ROS_NAMESPACE)" />

    <arg name="z" default="1" />
    <arg name="base_link_frame" default="$(arg tf_prefix)/base_link" />
    <arg name="world_frame" default="world" />
-->

    <arg name="tf_prefix" default="$(optenv ROS_NAMESPACE)" />

    <param name="tf_prefix" type="string" value="$(arg tf_prefix)" />
    <param name="robot_description" command="$(find xacro)/xacro $(find abs_quadrotor_description)/urdf/dji_m100.urdf.xacro" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Launch Rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find abs_quadrotor_description)/rviz/quadrotor.rviz" />
</launch>

